$primary-bg:#E9E9E9;
$header-color: #e92569;

h1,h2,h3,h4,h5,h6{
    color:$header-color !important;
}
body{
    background-color: $primary-bg;
}

main{
    margin-top:100px !important;
}

p{
    color: black;
}

.tab-pane{
    background-color: white;
}

#home-tab,#profile-tab,#contact-tab{
    color: $header-color;
}

#slug {
    color: #e92569 !important;
}

.active{
    color:black !important;
}

.navbar{
    position:absolute !important;
    top:0;
    left:0;
    right: 0;
    z-index: 20;
}

#article-btn{
    border:0 !important;
    background: linear-gradient(90deg, #e92569 90%, #767676 10%) !important;
}


.page-item{
    border: 1px #e92569 solid !important;
    .page-link{
        color:$header-color
    }
    .selected{
        color:white !important;
        background-color: #e92569 !important;
    }
}

.carousel-indicators{
    button{
        height: 30px !important;
        
    }
    .active{
        background-color:$header-color;        
    }
}

form{
    background:#EFEFEF;
}

#go {
    background-color: #e92569 !important;
    color: white !important;
    border:0 !important;
}

.accordion-button {
    color: #e92569;
}

.accordion-button::after {
    background-image: initial;
  }
  
  .accordion-button:not(.collapsed)::after {
    background-image: initial;
  }