@import "~bootstrap/scss/bootstrap";

.App {
  text-align: center;
  background-color: #EFEFEF;
}


// nav
.slug {
  color: #e92569 !important;
}

.search {
  color: #FFF !important;
  background-color: #e92569 !important;
  border-radius: 0 !important;
}


// Slider
.carousel-indicators {
  button: {
      height: 2rem;
  }

}

.infobox {
  text-align: center;
  h3 {
    color: #E83875;
    margin-top: 2rem;
  }

}

// Accordion
.accordionHeader {

  button{
      color: #E83875 !important;
   background-color: #FFF !important;
  
  }

}

.accordionBody {
  background-color: #EFEFEF;
}
.accordionImg {
  padding: 2rem;
}

// Conact

.small-contact-form {
  button {
    background-color: red !important;
  }
  text-align: left;
}


// Fun react logo

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
