@import "~bootstrap/scss/bootstrap";

.App {
  // text-align: center;
  background-color: #EFEFEF;
}

main {
  padding: 2rem !important;
}


// nav
.slug {
  color: #e92569 !important;
}

.search {
  color: #FFF !important;
  background-color: #e92569 !important;
  border-radius: 0 !important;
}

.nav-item > button {
  color: #e92569;

}

.tab-content {
  background-color: #FFF;
}


// Slider
.carousel-indicators {
  button: {
      height: 2rem;
  }

}

.infobox {

  h3 {
    color: #E83875;
    margin-top: 2rem;
  }
  
}

// Accordion

.accordion .accordion-flush {
  border-radius:200px !important;
}

.accordionHeader {

  button{
      color: #E83875 !important;
   background-color: #FFF !important;
  
  }

}

.accordionBody {
  background-color: #EFEFEF;
}
.accordionImg {
  padding: 2rem;
}

// Conact

.small-contact-form {
  button {
    background-color: red !important;
  }
  text-align: left;
}

